*{
    font-family: "Archivo";
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Stijlen voor het header-gedeelte */
header {
    h1 {
        font-size: 48px; /* Kleinere schermen standaard */
    }
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    header h1 {
        font-size: 96px; /* Grotere schermen */
    }
    header h2 {
        font-size: 64px; 
    }
    header p {
        font-size: 18px;
    }
}

.topnav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding-bottom: 30px;

    img {
        height: 75px; 
        width: auto; 
    }
    .nav-links, .right-links {
        display: none; /* Verborgen op mobiel */
    }
    
    .hamburger {
        display: block; 
        font-size: 30px; 
        cursor: pointer; 
        margin-left: auto; 
    }
    
    .mobile-menu {
        display: none; 
    }
}

@media (min-width: 1024px) {
    .topnav {
        flex-direction: row; 
        justify-content: space-between; 
        padding-bottom: 50px;
    }

    .nav-links,
    .right-links {
        display: flex; /* Alleen zichtbaar op grotere schermen */
        align-items: center;
    }

    .hamburger {
        display: none; /* Verborgen op grotere schermen */
    }

    .mobile-menu {
        display: none; 
    }

    .mobile-menu.active {
        display: none; 
    }
}

.hero{
    text-align: center;
    h1 {
        font-size: 48px; /* Kleinere schermen */
    }

    p {
        font-size: 16px;
        margin: 0 auto;
        padding: 10px; 
    }

    a {
        font-size: 18px;
        color: black;
    }
}

@media (min-width: 1024px) {
    .hero{
        padding-top: 20px;
        h1 {
            font-size: 96px; /* Grotere schermen */
        }
        p {
            font-size: 18px;
        }
    }
}

a.home{
    text-decoration: none;
    color: black;
    font-family: 'Martian Mono';
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

body {
    padding: 5px; 
    border: 1px solid black;
    p {
        font-size: 14px; 
    }
}

@media (min-width: 1024px) {
    body {
        padding: 10px;
        p {
            font-size: 16px; 
        }
    }
}

.filter {
    display: column;
    justify-content: center; /* Centreer items horizontaal */
    align-items: center; /* Centreer items verticaal */
    padding: 10px;

    ul {
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    li {
        position: relative;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid black;
        list-style-type: none;
        padding: 10px 20px;
        margin-right: 10px;
        margin-bottom: 10px;

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            opacity: 0;
        }   
    }

    li:has(input:checked) {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }
    
    #search-input {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid black;
        padding: 10px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}


@media (min-width: 1024px) {
    .filter {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .filter ul {
        width: auto;
        margin-left: auto; 
    }

    .filter li {
        margin-right: 10px;
    }

    #search-input {
        width: 25%;
    }
}

.block-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;

    .block {
        border-top: 1px solid black; 
        border-left: 1px solid black; 
        border-right: 1px solid black;
        padding: 5px;
        display: block;
        width: 100%;
        max-width: 100%;
        margin-top: auto;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0;
        border: 1px solid black;
    }

    .strategy {
        border: 1px solid black;
        padding: 2px 5px; /* Samengevoegde padding */
        max-width: fit-content;
        display: flex;
        flex-direction: row; /* Zorg ervoor dat items horizontaal zijn */
        align-items: center; /* Verticaal centreren */
        flex-wrap: nowrap; 
        font-size: 10px;
        font-family: 'Martian Mono';
    }

    
    a {
        font-family: 'Martian Mono';
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;  
    }
}

@media (min-width: 1024px) {
    .block-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .block {
        flex: 1 1 33.33%;    /* Zorgt ervoor dat elk blok 33% van de breedte inneemt */
        max-width: 33.33%;   /* Beperkt de breedte tot 33.33% */
    }

    img{
        width: 374px;
        height: 416px;
        padding: 48px;
        gap: 8px;
    }
}

.vacatureblok {
    display: flex;
    flex-direction: column; /* Standaard voor kleinere schermen */
    padding: 20px;
    border-left: 1px solid #000000;
    border-right: 1px solid black;
    border-top: 1px solid black;

    h3{
        margin: 0; 
        flex: 1; 
    }
}

@media (min-width: 1024px) {
    .vacatureblok {
        flex-direction: row; /* Horizontaal op grotere schermen */
        justify-content: space-between;
    }
}

.vacaturelink {
    padding-top: 20px;
    white-space: nowrap; 
    color: blue;
    font-family: 'Martian Mono';
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    @media (min-width: 1024px) {
        margin-left: 20px; 
    }
}

.laden{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0.5px solid black;

    p{
        text-align: center;
        font-family: 'Martian Mono';
        font-size: 12px;
        margin: 1em;
    }
}

.partners{
    border-top: 0.5px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0.5px solid black;

    a {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        text-decoration: underline;
        color: blue;
        font-family: 'martian mono';
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 5px;
    }

}

.partner-carousel{
    display: flex;
    flex-wrap: wrap;
    border-top: 0.5px solid black;
    border-right: 1px solid black;

    img{
        width: 20%;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
}

footer{
    display: grid;
    width: 100%;

    img{
        display: block;
        height: 75px;
        width: auto;
        padding-left: 5px;

    }
}

.footer-inloggen{
    padding-top: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

    a {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        text-decoration: underline;
        color: blue;
        font-family: 'martian mono';
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 5px;
    }
}

.footer-links{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    ul{
        list-style-type: none;
        padding: 0; 
        margin: 10px;
        text-align: left;
    }

    li{
        margin-bottom: 1em;
    }

    a{
        color: black;
    }
}

.footer-info{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 5px;
}

.footer-2{
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.socials{
    padding-top: 15px;
    padding-left: 10px;

    a{
        text-decoration: underline;
    }
}

.copyright{
    margin-left: auto;
    padding-right: 10px;

    p{
        font-size: 16px;
    }
}